.message-box{
    position: absolute;
    top: 5em;
    right: 2em;
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 500px;
    box-shadow: 0px 0px 5px 1px #9a9a9a07;
    min-width: 350px;
    z-index: 1000;
    border-radius: 19px;
    overflow: hidden;

    transition: linear 0.2s ease;
}
.message-box-title{
    display: flex;
    flex-flow: row ;
    flex: 1 0 ;
    justify-content: space-between;
    align-items: center;
    font-size: 0.825em;
    padding: 0.825em;
    background-color: #4991c3;
}
.message-box-body{
    padding: 0.825em;
    font-size: 0.5em;
    min-height: 50px;
    background-color: #ffffff;

}
.message-box-menu{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.message-box-menu>button{
    padding:0.25em;
    margin: 1px;
    margin-left: 4px;;
    border-radius: 4px;
    border: none;
}

.message-box-menu>button:first-child{
    background-color: #82c3e9;
}
.message-box-menu>button:last-child{
    background-color: #f37f6a;
}